{% extends "portfolio/base.html" %}
{% block content %}
  <div id="top-section">
    <h1>Andrew Randall</h1>
    <div id= "image-div">
      <img src="https://media.licdn.com/dms/image/C4D03AQEmhptZqle5Ug/profile-displayphoto-shrink_200_200/0?e=1564617600&v=beta&t=e2HJFf3orkqiR5gAEFiT2Q08Ng3Q8SJKyvcYPD1yptY" style="border:5px solid white">
    </div>
    <div id="links">
      <a href="https://github.com/Andrew-Randall">GitHub</a>
      <a href="https://www.linkedin.com/in/a-randall/">LinkedIn</a>
    </div>
    <div id="short-description">
      <p>Boston-based full-stack web developer specializing in Ruby on Rails, JavaScript and React</p>
    </div>
  </div>
  <div id="middle-section">
    <h1>About</h1>
    <div id="about-text-section">
      <p>I am a music major turned web developer with an eye for creativity. After graduating with a BA in music I worked as a sound engineer, composer, and DJ. In my travels I worked with a wide variety of audio production software. As I interacted with the programs more, I became curious about how the applications themselves were built. That curiousity lead me to the immersive 18 week web development program at Launch Academy. I am looking to bring my web development skills to a forward thinking and creative company that values collaboration and professional development for their employees. </p>
    </div>
  </div>
  <div id="bottom-section">
    <h1>Featured Project</h1>
    <div id="projects-text-section">
      <p></p>
    </div>
  </div>
{% endblock %}
