body {
  background-color: black;
  margin: -2vw 5vw 2vw 5vw;
  font-family: 'Lora', serif;
  position: relative;
}

#top-section {
  background-image: url("https://images.unsplash.com/photo-1488502782006-0a9a516cd7a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80");
  background-attachment: fixed;
  background-size: cover;
  height: 51vw;
  position: relative;
}

h1 {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
  color: white;
  padding-top: 2vw;
  padding-bottom: .5vw;
  opacity: 2;
  position: relative;
}

#image-div {
  text-align: center;
  opacity: 2;
  position: relative;
}

#image-div img {
  border-radius: 50%
}

#links {
  padding-top: 0.5vw;
  text-align: center;
  position: relative;
}

#links a {
  font-size: 1.4em;
  color: white;
  text-decoration: none;
  padding: 10px;
  position: relative;
}

#short-description p {
  text-align: center;
  font-style: italic;
  font-family: 'Lora', serif;
  color: white;
  font-size: 1.5em;
  margin: 17vw 24vw 0vw 24vw;
  position: relative;
}

#middle-section {
  background-image: url("https://images.unsplash.com/photo-1541261162402-a69fa9d11811?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80");
  background-attachment: fixed;
  background-size: cover;
  height: 51vw;
  position: relative;
}

#about-text-section {
  background-color: black;
  height: 27vw;
  margin: 0 15vw 0 15vw;
  opacity: 0.95;
  position: relative;
}

#about-text-section p {
  margin: 0 2em 1em 2em;
  padding-top: 1em;
  color: white;
  font-size: 1.4em;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

#bottom-section {
  background-image: url("https://images.unsplash.com/photo-1540888513280-fac1aa56c69f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80");
  background-attachment: fixed;
  background-size: cover;
  height: 51vw;
}

#projects-text-section {
  background-color: black;
  height: 35vw;
  margin: 0 15vw 0 15vw;
  opacity: 0.95;
}

#projects-text-section h2 {
  margin: 0 2em 1em 2em;
  padding-top: 1em;
  color: white;
  font-size: 2.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
}

#projects-text-section p {
  color: white;
  margin: 1em 2em 1em 2em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4em;
}

#project-image-div {
  text-align: center;
}

#projects-text-section a {
  transition: .2s;
}

#projects-text-section a:hover {
  opacity: 0.6;
}
